/*./dart-sass/sass sass/style2.scss style2.css --watch*/
*{
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(238, 238, 238);
    img{
        object-fit: cover;
        
    }
    /*-----------------------------------FORMAT MOBILE------------------------------------------------*/
    @media (max-width: 498px) {

    @import "./utils/mixin";
    @import "./utils/variables";
   
    @import "./layout/header2.scss";
    @import "./layout/footer";
  
   @import "./components/btn";

    @import "./pages/restaurants/banniere";
@import "./pages/restaurants/content";
 @import "./pages/restaurants/end";
     
    
    .end{
        padding-top: 30px;
    }
  }
}
@media (min-width: 499px) and (max-width: 769px)
    {


    }
