/*./dart-sass/sass sass/style.scss style.css --watch*/
*{
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    img{
        object-fit: cover;
    }
}


@import "./utils/variables";
@import "./utils/mixin";
@import "./pages/home/fonctionnement";
@import "./components/loader.scss";
@import "./components/btn";
@import "./components/heartbtn";
@import "./layout/header.scss";
@import "./pages/home/head.scss";
@import "./pages/home/resto";
@import "./layout/footer";





 