/*./dart-sass/sass sass/style.scss style.css --watch*/
*{
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    img{
        object-fit: cover;
    }
}

  


/*-----------------------------------FORMAT MOBILE------------------------------------------------*/
@media (max-width: 498px) {
/*---------------------------------REGLES et VARIABLES------------------*/
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
%shadows{
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.082);}
%hovernshadows{ 
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.082);
}


  /*-------------------- LOADING -----------------------*/

.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d8d2df;
    z-index: 999;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    animation: backload 2s ease forwards;
    .loader{
        width: 60px;
        height: 60px;
        border: 5px solid rgb(228, 228, 228);
        border-radius: 50%;
        border-top: 5px solid #99E2D0;
        position: absolute;
        top: 40%;
        left: 50%;
        animation: loader 0.5s ease infinite;

    }
    @keyframes backload{
        80%{
            opacity: 1;
            visibility: visible;
        }

        100%{
            opacity:0;
            visibility: hidden;
        }
    }  
    @keyframes loader {
        0%{
            transform: translate(-50%, -50%) rotate(0deg);

        }
        100%{
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }   
}

/*----------------------------------------HEADER---------------------------------------------------------*/
    header{
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 10px 16px;
        height: 40px;
        width: 100%;
        border-bottom-color: rgba(58, 58, 58, 0.288);
        border-bottom-style: solid;
        padding-top: 20px;
        
        i.fas{
            display: none;
        }
        
        span{
            display:block;
            width: 20px;
            margin-right: 65px;
        }

       

    }
    #head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }
   
    .logo{
        height: 10vw;
        margin-right: 90px;
    
    }
    .place{
        color: rgb(88, 88, 88);
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        background-color: rgba(190, 190, 190, 0.397) ;
       
        i.fas{
            margin-right: 2vw;
        }
   }
 
    .first-container-wrapper{
        background-color: rgba(233, 233, 233, 0.486);
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 30px;
    }
    h1{
        padding-top: 10px;
        font-size: 4.5vw;
        display: flex;
        align-self: center;
        align-content: center;
        justify-content: center;
        width: 49vw;
        margin: 0;
        margin-top:10px;
       
        p{
        margin: 0;
        padding: 0;

        }
    }
    .sub{
        display: inline-block;
        text-align: center;
        color: rgb(99, 99, 99);
        width: 80%;
        
    }
    .explorer
    {
        color: floralwhite;
        font-weight: bold;
        width: 50%;
        height:11vw;
        border-radius: 20px;
        border:none;
        align-self: center;
        background: linear-gradient($secondary, $primary);
        
        &:hover{
            filter: brightness(150%);
                box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.308);
                transform: scale(1.05);
                
            }
        
        
    }
    /*-------------------FONCTIONNEMENT-------------------*/
    h2{
        font-size: 5vw;
        font-weight: 700;
        margin-left: 3vw;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    ol{
        list-style: none;
        counter-reset: item;

    }

    .top{ 
        position: relative;
        list-style-type: none;
        counter-increment: item;
        background-color: rgba(233, 233, 233, 0.486);
        @extend %shadows;
        border-radius: 20px;
        width: 70%;
        height: 60px;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 10vw;
        
        &:before{
            position: absolute;
            color: rgb(255, 255, 255);
            content: counter(item);
            height: 20px;
            width: 20px;
            vertical-align: top;
            text-align: center;
            background: $primary;
            border-radius: 20px;
            margin-right: 63vw;
        }
        
        i.fa{
            color: rgb(155, 155, 155);
            margin-right: 3vw;
        }
        i.fas{
            color: rgb(155, 155, 155);
            margin-right: 3vw;

        }
    }

    .background{
        position: relative;
        list-style-type: none;
        counter-increment: item;
        background-color: #9256dc1a;
        @extend %shadows;
        border-radius: 20px;
        width: 70%;
        height: 60px;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 10vw;

        i.fas{
            color: $primary;
            margin-right: 3vw;
    
        }
        &:before{
            position: absolute;
            color: rgb(255, 255, 255);
            content: counter(item);
            height: 20px;
            width: 20px;
            vertical-align: top;
            text-align: center;
            background: $primary;
            border-radius: 20px;
            margin-right: 63vw;
        }
    }
/*------------------RESTAURANTS------------*/

    h3{
        font-size: 5vw;
        font-weight: 700;
        margin-left: 3vw;
        padding-top: 30px;

    }
    .thrid-container{
        background-color: rgba(233, 233, 233, 0.486);
        padding-bottom: 30px;
        a{
            color: black;
            text-decoration: none;

        }
    }

    .image{
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    %survol{
        transform: scale(1.05);
        cursor: pointer;
    }
    .card{
        
        display: flex;
        flex-direction: column;
        @extend %shadows;
        margin-left: 4vw;
        border-radius: 20px;
        background-color: white;
        width: 90%;
        height: 270px;
        
        p{
            font-weight: 800;
            font-size: 4vw;
            margin:0;
            margin-left: 3vw;
            margin-top: 15px;
            width: 70%;
        }
        .subtitles{
            font-weight: 500;
            color: rgb(107, 107, 107);
            margin-top: 1vw;
            font-size: 3.5vw;
            width: 70%;
            padding-bottom: 5vw;
        }

        .figcap{
            display: flex;
            flex-direction: column;

            p{
                width: 70%;
            }
           
            .heart{
                font-size: 6vw;
                display: flex;
                justify-content: flex-end;
                position: absolute;
                margin-top: 20px;
                margin-left: 75vw;
                border: none;
                background-color: white;
                color: white;
            }
            i.fas{
               /* text-shadow: 0 0  2px #000;*/
               -webkit-text-fill-color: white;
               -webkit-text-stroke-width: 2px;
               -webkit-text-stroke-color: black;
               &:hover{
                transition:transform 450ms;
                transition: -webkit-text-fill-color 600ms ;
                transform: scale(1.1);
                transition-delay: -webkit-text-stroke-width 150ms;
                -webkit-text-fill-color: $tertiary;
                -webkit-text-stroke-width: 0;


               }
            }
              
        }
    }
/*-------------------------------------------FOOTER----------------------------------------*/
        .end{
            background-color: rgb(66, 66, 66);
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 20px;
        
            h3{
                margin: 0;
                margin-left: 9vw;
                
            }
           
             li{
                list-style: none;
                margin: 5px;
                color: white;
            }
            i.fas{
                color: white;
                margin-right: 10px;
            }
        }
}