
@media (max-width: 498px){
header{
   
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px 16px;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    padding-left: 8vw;
            
    a{
        text-decoration: none;
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
    }
    
    i.fas{
        display: block;
        color: gray;
        text-decoration: none;
        font-size: 4vw;
        
        
        }
        
        span{
        display:block;
        width: 20px;
        margin-right: 30vw;
        }
        
        
        
        }
        #head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
        }
        
        .logo{
        height: 4vw;
        margin-right: 50vw;
        transform: scale(3);
        }
}
/*---------------------TABLETTE--------------------------------*/
@media (min-width: 497px) and (max-width: 769px)
{
header{
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
padding: 20px 20px;
height: 8vw;
width: 100%;


    
a{
text-decoration: none;
&:link{
text-decoration: none;
}
&:visited{
text-decoration: none;
}
&:hover{
text-decoration: none;
}
&:active{
text-decoration: none;
}
}



i.fas{
display: block;
color: gray;
text-decoration: none;
font-size: 3vw;


}

span{
display:block;
width: 20px;
margin-right: 27vw;
}



}
#head{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;

}

.logo{
height: 4vw;
margin-right: 36vw;
transform: scale(1.2);


}
}
/*------------------DESKTOP----------------------*/
@media (min-width: 770px) {
    header{
    background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 10px 16px;
        height: 8vw;
        width: 100%;
       
       
            
    a{
        text-decoration: none;
    &:link{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
    }
    


    i.fas{
        display: block;
        color: gray;
        text-decoration: none;
        font-size: 2vw;
        

    }
    
    span{
        display:block;
        width: 20px;
        margin-right: 35vw;
    }

   

}
#head{
    width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

}

.logo{
    height: 4vw;
    margin-right: 40vw;
    
}
}

