@media (max-width: 498px) {
h2{
    font-size: 5vw;
    font-weight: 700;
    margin-left: 3vw;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
ol{
    list-style: none;
    counter-reset: item;
    font-size: 4vw;

}

.top{ 
    position: relative;
    list-style-type: none;
    counter-increment: item;
    background-color: rgba(233, 233, 233, 0.486);
    @include shadows;
    border-radius: 20px;
    width: 70%;
    height: 60px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 10vw;
    
    &:before{
        position: absolute;
        color: rgb(255, 255, 255);
        content: counter(item);
        height: 20px;
        width: 20px;
        vertical-align: top;
        text-align: center;
        background: $primary;
        border-radius: 20px;
        margin-right: 63vw;
    }
    
    i.fa{
        color: rgb(155, 155, 155);
        margin-right: 3vw;
    }
    i.fas{
        color: rgb(155, 155, 155);
        margin-right: 3vw;

    }
&:hover{
    background-color: lighten($primary, 35);
    i.fas, i.fa{
        color: $primary;
    }
}

}
}
/*---------------------------TABLETTE--------------------------------*/
@media (min-width: 499px) and (max-width: 769px){
    h2{
    font-size: 5vw;
    font-weight: 700;
    margin-left: 3vw;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
ol{
    list-style: none;
    counter-reset: item;
    font-size: 3.5vw;

}

.top{ 
    position: relative;
    list-style-type: none;
    counter-increment: item;
    background-color: rgba(233, 233, 233, 0.486);
    @include shadows;
    border-radius: 20px;
    width: 70%;
    height: 100px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 10vw;
    
    &:before{
        position: absolute;
        color: rgb(255, 255, 255);
        content: counter(item);
        height: 33px;
        width: 33px;
        vertical-align: top;
        text-align: center;
        background: $primary;
        border-radius: 20px;
        margin-right: 63vw;
        display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
    }
    
    i.fa, i.fas{
        color: rgb(155, 155, 155);
        margin-right: 3vw;
    }

&:hover{
    background-color: lighten($primary, 35);
    i.fas, i.fa{
        color: $primary;
    }
}

}

}
@media (min-width: 770px) {
    h2{
        font-size: 2vw;
        font-weight: 700;
        margin-left: 3vw;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    ol{
        list-style: none;
        counter-reset: item;
        font-size: 1.5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    
    }
    
    .top{ 
        position: relative;
        list-style-type: none;
        counter-increment: item;
        background-color: rgba(233, 233, 233, 0.486);
        @include shadows;
        border-radius: 80px;
        width:45vw;
        height: 7vw;
        margin:2vw;
        
        display: flex;
        align-items:center;
        padding-right: 2vw;
        padding-left: 2vw;
        

        
        &:before{
            position: absolute;
            color: rgb(255, 255, 255);
            content: counter(item);
            height: 3vw;
            width: 3vw;
            vertical-align: top;
            text-align: center;
            background: $primary;
            border-radius: 80px;
            left : -1.5vw;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        
        i.fa, i.fas{
            color: rgb(155, 155, 155);
            margin-left: 4vw;
            margin-right: 2vw;
        }
    
    &:hover{
        background-color: lighten($primary, 35);
        i.fas, i.fa{
            color: $primary;
            
        }
    }
    
    }

}