.explorer
{
    color: floralwhite;
    font-weight: bold;
    width: 50%;
    height:11vw;
    border-radius: 40px;
    border:none;
    align-self: center;
    @include grad;
    font-size: 3.5vw;
    
    &:hover{
           @include hoverbtn;
            
        }
    
    
}
/*---------------------DESKTOP------------------*/
@media (min-width: 770px){
    .explorer
{
    color: floralwhite;
    font-weight: bold;
    width: 30%;
    height:4vw;
    border-radius: 40px;
    border:none;
    align-self: center;
    @include grad;
    font-size: 1.5vw;
    
    &:hover{
           @include hoverbtn;
            
        }
    
    
}
}