/*cd C:\Users\popie\Desktop\Livrables\P3_POPIELARZ_Manon\pages
./dart-sass/sass sass/style2.scss style2.css --watch*/
* {
  scroll-behavior: smooth;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #eeeeee;
  /*-----------------------------------FORMAT MOBILE------------------------------------------------*/
  /*-----------------BANNIERE----------------------------*/
  /*---------------------------SECTION1--------------------------*/
}
html img, body img {
  object-fit: cover;
}
@media (max-width: 498px) {
  html, body {
    /*---------------------------------REGLES et VARIABLES------------------*/
    /*-------------------- LOADING -----------------------*/
    /*----------------------------------------HEADER---------------------------------------------------------*/
  }
  html .first-container .first-container-wrapper h2, html .first-container .first-container-wrapper h3, html .first-container .first-container-wrapper h4, body .first-container .first-container-wrapper h2, body .first-container .first-container-wrapper h3, body .first-container .first-container-wrapper h4 {
    font-size: 5vw;
    color: #777777;
    padding-bottom: 1px;
    border-bottom: #99E2D0 solid 2px;
    width: 10%;
    margin-left: 6vw;
  }
  html .first-container .first-container-wrapper .container, body .first-container .first-container-wrapper .container {
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.082);
  }
  html .loader-container, body .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d8d2df;
    z-index: 999;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    animation: backload 2s ease forwards;
  }
  html .loader-container .loader, body .loader-container .loader {
    width: 60px;
    height: 60px;
    border: 5px solid #e4e4e4;
    border-radius: 50%;
    border-top: 5px solid #99E2D0;
    position: absolute;
    top: 40%;
    left: 50%;
    animation: loader 0.5s ease infinite;
  }
  @keyframes backload {
    80% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes loader {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  html header, body header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px 16px;
    height: 40px;
    width: 100%;
    padding-top: 20px;
  }
  html header i.fas, body header i.fas {
    color: #414141;
  }
  html header span, body header span {
    display: block;
    width: 20px;
    margin-right: 65px;
  }
  html #head, body #head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  html .logo, body .logo {
    height: 10vw;
    margin-right: 90px;
  }
}
html .overlap, body .overlap {
  width: 100%;
  height: 300px;
  position: absolute;
}
html .banniere, body .banniere {
  width: 100%;
  height: 300px;
  position: relative;
}
html .title, body .title {
  background-color: #eeeeee;
  padding-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  width: 100%;
  margin-top: 250px;
  padding-bottom: 5px;
}
html .title h1, body .title h1 {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-left: 3vw;
  font-family: "Shrikhand", cursive;
  font-size: 7vw;
}
html .title h1 svg, body .title h1 svg {
  height: 10vw;
  width: 8vw;
  margin-right: 10vw;
  color: rgba(255, 255, 255, 0);
  stroke: #818181;
  stroke-width: 10vw;
}
html .title h1 .heart, body .title h1 .heart {
  font-size: 5vw;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-top: 8px;
  margin-left: 75vw;
  border: none;
  background-color: #eeeeee;
  color: white;
  width: 10vw;
}
html .first-container, body .first-container {
  background-color: #eeeeee;
}
html .first-container .first-container-wrapper .container, body .first-container .first-container-wrapper .container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 60px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
html .first-container .first-container-wrapper .container:hover .check, body .first-container .first-container-wrapper .container:hover .check {
  transition: 0.5s;
  right: 0;
  transition: 500ms ease-in-out;
}
html .first-container .first-container-wrapper .container:hover .check i.fas, body .first-container .first-container-wrapper .container:hover .check i.fas {
  transform: rotate(360deg);
  transition: 700ms linear;
}
html .first-container .first-container-wrapper .container:hover > .price, body .first-container .first-container-wrapper .container:hover > .price {
  left: 60vw;
}
html .first-container .first-container-wrapper .container:hover > .sub, body .first-container .first-container-wrapper .container:hover > .sub {
  width: 65%;
}
html .first-container .first-container-wrapper .container .check, body .first-container .first-container-wrapper .container .check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  right: -100px;
  font-size: 8vw;
  margin-left: 75vw;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  color: white;
  background-color: #99E2D0;
}
html .first-container .first-container-wrapper .container .sub, body .first-container .first-container-wrapper .container .sub {
  font-size: 4vw;
  color: #707070;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 78%;
}
html .first-container .first-container-wrapper p, body .first-container .first-container-wrapper p {
  margin: 5px;
  margin-left: 3vw;
}
html .first-container .first-container-wrapper .bold, body .first-container .first-container-wrapper .bold {
  font-weight: bolder;
  font-weight: 7vw;
}
html .first-container .first-container-wrapper .price, body .first-container .first-container-wrapper .price {
  font-size: 3.5vw;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 10%;
  position: absolute;
  top: 9vw;
  left: 70vw;
}

/*---------------------FIN----------------*/
.select {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.select .explorer {
  color: floralwhite;
  font-weight: bold;
  width: 50%;
  height: 11vw;
  border-radius: 20px;
  border: none;
  align-self: center;
  background: linear-gradient(#FF79DA, #9356DC);
}
.select .explorer:hover {
  filter: brightness(150%);
  box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.308);
  transform: scale(1.05);
  cursor: pointer;
}

/*-------------------------------------------FOOTER----------------------------------------*/
.end {
  background-color: #424242;
  padding-top: 20px;
  margin-top: 0;
  padding-bottom: 20px;
}

.end h3 {
  margin: 0;
  margin-left: 9vw;
}

.end li {
  list-style: none;
  margin: 5px;
  color: white;
}

.end i.fas {
  color: white;
  margin-right: 10px;
}

/*# sourceMappingURL=style2.css.map */
