@mixin heartbnt{
    font-size: 8vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10vw;
    height: 15vw;
    width: 9vw;
    border: none;
    background:rgba(0, 0, 0, 0);
    cursor: pointer;
    i.far{
        color: rgb(104, 101, 101);
        position: absolute;
        top: 4vw;
        opacity: 1;
        
        &:hover{
            opacity: 0;
        }
    }
    i.fas{
        opacity: 0;
        position: absolute;
        top: 4vw;
        @include grad;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
       
        &:hover{
            font-size: 8.5vw;
            transition: 600ms;
            opacity: 1;
            
            
        }
      }   
}

@mixin heartbnt2{
    font-size: 8vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5vw;
    height: 15vw;
    width: 9vw;
    top: 7vw;
    border: none;
    background:rgba(0, 0, 0, 0);
    cursor: pointer;
    i.far{
        color: rgb(104, 101, 101);
        position: absolute;
        top: 4vw;
        opacity: 1;
        &:hover{
            opacity: 0;
        }
    }
    i.fas{
        opacity: 0;
        position: absolute;
        top: 4vw;
        @include grad;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
       
        &:hover{
            font-size: 8.5vw;
            transition: 600ms;
            opacity: 1;
            
            
        }
      }   
}
@mixin tittles {
        font-size: 5vw;
        color: rgb(119, 119, 119);
        padding-bottom: 1px;
        border-bottom:  #99E2D0 solid 2px;
        width: 10%;
        margin-left: 6vw;
    
    
}

@mixin hoverbtn{
    filter: brightness(125%);
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.308);
    transform: scale(1.05);
}
@mixin shadows{
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.082);
    
}
@mixin grad{
    background: linear-gradient($secondary, $primary)
} 

