@mixin grad{
    background: linear-gradient($secondary, $primary);
} 
@mixin hoverbtn{
    filter: brightness(125%);
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.308);
    transform: scale(1.05);
}

@mixin tittles {
        font-size: 5vw;
        color: rgb(119, 119, 119);
        padding-bottom: 1px;
        border-bottom:  #99E2D0 solid 2px;
        width: 10%;
        margin-left: 6vw;
        @media (min-width: 770px) {
        font-size: 2vw;
        color: rgb(119, 119, 119);
        padding-bottom: 1px;
        border-bottom:  #99E2D0 solid 2px;
        width: 4%;
        margin-left: 6vw;

        }
    
    
}



@mixin shadows{
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.082);
    
}
@mixin cardhover {
    transform: scale(1.05);
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.308);
    
}


